<div class="sign">
    <form class="menu-element" action="" method="POST">
        <table>
            <tbody>
            <tr>
                Username:
                <br/>
                <input type="text" name="username">
            </tr>
            <tr>
                Enter password:
                <br/>
                <input type="password" name="password"/>
            </tr>
            <tr>
                <input type="submit" value="Submit">
            </tr>
            </tbody>
        </table>
    </form>
</div>