@using MvcApp.Models
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ImgBoard</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<body>
	<header class="navigation">
		<a class="logo" href="/">
			<p>ImgBoard</p>
		</a>
		<ul class="menu">
			<li class="menu-element">
				<a href="/posts/upload">Upload</a>
			</li>
			<li class="menu-element">
				<a href="/posts/post?Id=@PostManager.GetRandomPostId()">Random</a>
			</li>
			<li class="menu-element">
				<form class="menu-element" action="/posts/page" method="GET">
            		<input type="search" name="tags">
					<input type="submit" value="Submit">
        		</form>
			</li>
		</ul>
		@{if (User.Identity.Name != null)
		{
			<ul class="signing">
				<li class="menu-element">
					<a href="/user/profile?username=@User.Identity.Name">@User.Identity.Name</a>
				</li>
			</ul>
		}
		else
		{
			<ul class="signing">
				<li class="menu-element">
					<a href="/auth/login">Sign In</a>
				</li>
				<li class="menu-element">
					<a href="/auth/signup">Sign Up</a>
				</li>
			</ul>
		}
		}
		
	</header>
	<div Id="content">
        @RenderBody()
	</div>
	<footer>
	</footer>
</body>

</html>	