<div class="text-table">
    <form class="menu-element" action="/user/changepassword" method="POST">
        <table class="reg-form">
            <tbody>
                <tr class="text-input">
                    <td>
                        Enter password:
                        <input type="password" name="password"/>
                    </td>
                </tr>
                <tr class="text-input">
                    <td>
                        Confirm password:
                        <input type="password" name="password-confirmation"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" value="Submit">
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>
