@{foreach (var comment in ViewBag.comments)
    {
        <div>
            @comment.TimeCreated
            @comment.Id
            <br>
            @comment.CommentString
        </div>
        <br>
    }
}