<h1>@ViewData["Username"] posts</h1>
<div class="posts">
    @foreach (var post in ViewBag.Posts)
    {
        <span  class = "thumbnail">
            <a Id="@post.Id" href="/posts/post?Id=@post.Id">
                <img src="@post.Path" alt="">
            </a>
        </span>
    }
</div>
