<h1>UserName`s posts</h1>
<div class="posts">
    @foreach (var post in ViewBag.Posts)
    {
        <span  class = "thumbnail">
            <a id="@post.id" href="/posts/post?id=@post.id">
                <img src="@post.path" alt="">
            </a>
        </span>
    }
</div>
