<div>
    <h1>@ViewData["username"]</h1>
    <table>
        <tbody>
        <tr>
            User id: 
        </tr>
        <tr>
            Join date:
        </tr>
        <tr>
            Email adress:
        </tr>
        <tr>
            Uploads:
        </tr>
        <tr>
            Comments
        </tr>
        </tbody>
    </table>
</div>