<div>
    <h1>Settings</h1>
    <table>
        <tbody>
            <tr>
    
            </tr>
            <tr>
    
            </tr>
            <tr>
    
            </tr>
            <tr>
    
            </tr>
            <tr>
    
            </tr>
            </tbody>
        </table>
</div>