<form class="menu-element" enctype="multipart/form-data" method="POST">
    <table>
            <tbody>
                <tr class="text-input">
                    <td>
                        <img src="@ViewData["path"]" alt="404">
                    </td>
                </tr>
                <tr class="text-input">
                    <td>
                        Tags:
                        <input type="text" name="tags" id="tags">
                    </td>
                </tr>
                <tr>
                    <td>
                        Description
                       <input type="text" name="description" id="description">
                    </td>
                </tr>
                <tr>
                    <td>
                       <input type="submit" value="Submit">
                    </td>
                </tr>
            </tbody>
        </table>
        <script>
            var tags = '@(ViewData["tags"])';
            var desc = '@(ViewData["description"])';
            document.getElementById("tags").value = tags;
            document.getElementById("description").value = desc;
        </script> 
</form>