<div class="posts">
    @foreach (var post in ViewBag.Posts)
    {
        <span  class = "thumbnail">
            <a id="@post.id" href="/posts/post?id=@post.id">
                <img src="@post.path" alt="">
            </a>
        </span>
    }
</div>
<div class="paginator">
    @{
        if (ViewBag.pgn.CurPage > 1)
        {
            <a href="/Posts/page?id=1">&lt;&lt;</a>
            <a href="/Posts/page?id=@ViewBag.pgn.CurPage-1">&lt;</a>
        }
        foreach (var pageId in ViewBag.pgn.PagArr)
        {
            <a href="/Posts/page?id=@pageId">@pageId</a>
        }
        if (ViewBag.pgn.CurPage < ViewBag.pgn.PageCount)
        {
            <a href="/Posts/page?id=@ViewBag.pgn.CurPage+1">></a>
            <a href="/Posts/page?id=@ViewBag.pgn.PageCount">>></a>
        }
    }
</div>