
<h1 style="color: #eee;">UPLOAD</h1>
<form class="menu-element" enctype="multipart/form-data"  action="/Posts/Upload" method="POST">
    <input type="file" name="userfile">
    <input type="submit" value="Submit">
</form>